.main {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 360px;
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titulo {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.botaoEntrar {
  margin-top: 8px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #b8d8d6;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
