.cardPizza {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  height: 280px;
  cursor: pointer;
}

.cardPizza__imagem {
  display: block;
  width: 100%;
  height: auto;
}

.cardPizza__conteudo {
  padding: 8px;
}

.cardPizza__nome {
  font-size: 14px;
  color: #000;
}

.cardPizza__tempo {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.cardPizza__iconeTempo {
  width: 20px;
  height: 20px;
  color: #16a34a;
}

.cardPizza__textoTempo {
  font-size: 12px;
  font-weight: 600;
  color: #16a34a;
  margin-left: 4px;
}

.cardPizza__descricao {
  font-size: 12px;
  color: #000;
  margin-bottom: 8px;
}

.cardPizza__preco {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
