.home__conteudo {
  width: 100%;
  max-width: 1280px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.home__lista {
  margin-top: 100px;
  display: grid;
  gap: 24px;
}

@media (min-width: 640px) {
  .home__lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .home__lista {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .home__lista {
    grid-template-columns: repeat(4, 1fr);
  }
}
