.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.content {
  padding: 8px;
}

.name {
  font-size: 14px;
  color: #000;
}

.timeContainer {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.timeIcon {
  width: 20px;
  height: 20px;
  color: #16a34a;
}

.timeText {
  font-size: 12px;
  font-weight: 600;
  color: #16a34a;
  margin-left: 4px;
}

.description {
  font-size: 12px;
  color: #000;
  margin-bottom: 8px;
}

.price {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
