.pizzaDetalhe {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px;
}

.pizzaDetalhe__imagemContainer {
  margin-top: 60px;
  position: relative;
  height: 300px;
  margin-left: -24px;
  margin-right: -24px;
  overflow: hidden;
}

.pizzaDetalhe__imagem {
  object-fit: cover;
}

.pizzaDetalhe__info {
  margin-top: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizzaDetalhe__nome {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

.pizzaDetalhe__tempo {
  display: flex;
  align-items: center;
}

.pizzaDetalhe__tempoIcone {
  width: 20px;
  height: 20px;
  color: #16a34a;
}

.pizzaDetalhe__tempoTexto {
  font-size: 12px;
  font-weight: 600;
  color: #16a34a;
  margin-left: 4px;
}

.pizzaDetalhe__preco {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.pizzaDetalhe__descricaoContainer {
  margin-top: 24px;
}

.pizzaDetalhe__descricao {
  font-size: 14px;
  color: #000;
}

.pizzaDetalhe__ingredientes {
  margin-top: 24px;
  margin-bottom: 48px;
}

.pizzaDetalhe__ingredientesTitulo {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 12px;
}

.pizzaDetalhe__ingredientesLista {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.pizzaDetalhe__ingrediente {
  background-color: #b8d8d6;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
  color: #000;
}

.pizzaDetalhe__voltarMobile {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.pizzaDetalhe__voltarBotao {
  background-color: #b8d8d6;
  color: #000;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border: none;
}

.pizzaDetalhe__voltarBotao:hover {
  background-color: #d1d5db;
}

.pizzaDetalhe__voltarDesktop {
  display: none;
}

@media (min-width: 768px) {
  .pizzaDetalhe {
    display: flex;
    gap: 48px;
  }

  .pizzaDetalhe__imagemContainer {
    flex: 0 0 420px;
    height: 420px;
    margin-top: 96px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 16px;
  }

  .pizzaDetalhe__info,
  .pizzaDetalhe__preco,
  .pizzaDetalhe__descricaoContainer,
  .pizzaDetalhe__ingredientes {
    flex: 1;
  }

  .pizzaDetalhe__info {
    margin-top: 96px;
  }

  .pizzaDetalhe__preco {
    font-size: 20px;
    margin-top: 8px;
  }

  .pizzaDetalhe__ingredientes {
    margin-bottom: 70px;
  }

  .pizzaDetalhe__voltarMobile {
    display: none;
  }

  .pizzaDetalhe__voltarDesktop {
    display: block;
  }
}
